@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #d4d6dd;
    display: flex;
    justify-content: center;
    padding: 20px;
}

div.container {
    margin-top: 20px;
    background-color: white;
    width: 100%;
    max-width: 700px;
    border-radius: 5px;
    box-shadow: 0 0 3px 4px #afafaf;
    padding: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

div#add-todo {
    width: 100%;
    position: relative;
}

div#add-todo>input {
    width: 100%;
    height: 60px;
    background-color: #efefef;
    border: 0;
    border-radius: 5px;
    outline: none;
    padding-left: 50px;
    padding-right: 103px;
    font-size: 18px;
}

div#add-todo>button {
    position: absolute;
    right: 0;
    height: 60px;
    border: none;
    background-color: #007bff;
    width: 100px;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

div#add-todo>img {
    position: absolute;
    left: 12.5px;
    top: 15px;
    height: 25px;
    width: 25px;
}

div#todo-fn {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5px;
}

button#complete-all,
button#clear-completed {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    color: #b1b1b1;
    background-color: white;
    border: none;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

button#complete-all:hover,
button#clear-completed:hover {
    border: 1px solid #b1b1b1;
}

button#complete-all>img {
    width: 15px;
}

hr {
    border: 1px solid #00000008;
    margin-top: 6px;
}

ul#todo-list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    flex-grow: 1;
    min-height: 200px;
}

ul#todo-list>li {
    width: 100%;
    height: 60px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*****************************/

:root {
    --form-control-color: rebeccapurple;
    --form-control-disabled: #959495;
}


form {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

label.form-control {
    font-family: system-ui, sans-serif;
    font-size: 1.3rem;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.6em;
}

.form-control+.form-control {
    margin-top: 1em;
}

.form-control--disabled {
    color: var(--form-control-disabled);
    cursor: not-allowed;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    margin-top: 2px;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}



input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
}

/*******************/

img.delete-todo {
    cursor: pointer;
}

div.todo-fn-bottom {
    display: flex;
    justify-content: space-between;
}

div#btns>button {
    color: #b1b1b1;
    background-color: white;
    border: none;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

div#tasks-left {
    color: #b1b1b1;
    font-size: 13.333px;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

#error-msg {
    color: rgb(206, 1, 1);
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.txt-black {
    color: black !important;
}